* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* background-color: aliceblue; */
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 35px;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", arial;
  font-size: 17px;
  letter-spacing: 3px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1270px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    font-size: 25px;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; change this if I want the width to be smaller on the column nav bar*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Main */

h2 {
  font-family: 'Roboto', arial;
  font-size: 125%;
  font-weight: 300;
  text-align: center;
  letter-spacing: .2em;
  padding: 2em 0 2em 0;
}

/* Main-Intro */

.intro-text { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  background-color: #f4f6f6;
}

.intro-text p {
  padding: 5em 3em 3em 3em;
  text-align: center;
  font-family: 'Roboto', arial;
  letter-spacing: .2em;
  line-height: 1.7  ;
}

.intro-text img {
  padding-top: 2em;
  width: 39%;
  /* to change color of svg, change the fill attribute on the svg, currently set to #c9e8ef */
}

/* Main-Technology */

.technology {
  display: flex;
  font-family: 'Roboto', arial;
  font-weight: 300;
  color: #929292;
  padding-left: 3em;
}

.tech-names {
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 2em 0 2.5em 0;
}

.tech-cards {
  padding-left: 3em;
}

.tech-stack {
  display: flex;
  align-items: center;
  margin: 1.5em 0 2.5em 0;
}

.tech-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  /* padding: .5em .5em 1em .5em; */
  background-color: #ececec;
}

.tech-logo img {
  width: 25px;
  padding-bottom: 2px;
}
.tech-logo p {
  color: #000;
  background-color: #b3b3b3;
  padding: 2px 3px 2px 3px;
  font-weight: 100;
  font-size: 65%;
}
