* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.logo {
  padding: 7px 0 7px 0;
  font-family: "Caveat", cursive;
  font-size: 35px;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", arial;
  font-size: 17px;
  letter-spacing: 3px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px; 
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1270px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    font-size: 25px;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #c9e8ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; change this if I want the width to be smaller on the column nav bar*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Main */

h2 {
  font-family: 'Roboto', arial;
  font-size: 125%;
  font-weight: 300;
  text-align: center;
  letter-spacing: .2em;
  padding: 2em 0 2em 0;
}

/* Main-Intro */

.intro-text { 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92vh;
  background-color: #f4f6f6;
}

.intro-text p {
  padding: 5em 3em 3em 3em;
  text-align: center;
  font-family: 'Roboto', arial;
  letter-spacing: .2em;
  line-height: 1.7  ;
}

.intro-text img {
  padding: 2em 0 4em 0;
  width: 39%;
  /* to change color of svg, change the fill attribute on the svg, currently set to #c9e8ef */
}

/* Main-Technology */

.section-technology {
  padding-bottom: 3.5em;
  background-color: #fff;
  min-height: 100vh;
}

.technology {
  display: flex;
  font-family: 'Roboto', arial;
  font-weight: 300;
  color: #929292;
}

.tech-names {
  display: flex;
  flex-direction: column;
  padding-left: 9%;
}

h4 {
  display: flex;
  align-items: center;
  width: 4.6em;
  height: 25%;
}

.tech-cards {
  padding-left: 4%;
}

.tech-stack {
  display: flex;
  align-items: center;
  height: 25%;
}

.tech-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 8px;
  margin-top: 2em;
  margin-bottom: 2em;
  
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-radius: 3px;

  width: 54px;
  height: 54px;
}

.tech-logo img {
  width: 23px;
  height: auto;
  object-fit: cover;
  padding-bottom: 10px;
}

#express {
  width: 40px;
}

#rails {
  width: 40px;
}

.tech-logo p {
  position: absolute;
  bottom: 0px;
  color: #000;
  background-color: #dadada;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 54px;
  padding: 2px 0px 2px 0px;
  font-weight: 200;
  font-size: 23%;
  text-align: center;
}

/* Main-Projects */

.section-projects {
  background-color: #f4f6f6;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  padding-bottom: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  background-color: #fff;
  width: 80%;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;

  font-family: 'Roboto', arial;
}

.project-title {
  padding-top: 5px;
  width: 100%;
  
  text-align: center;
  letter-spacing: .1em;
 
}

.title {
  padding-top: 5px;
  font-size: 80%;
  font-weight: bold;
}

.description {
  padding: 5px 0 5px 0;
  font-size: 50%;
  font-weight: normal;
}

.project-img {
  width: 100%;
}

.project-links {
  display: flex;
  align-items: center;
  background-color: #dadada;
  width: 100%;
  padding: .5em 0 .5em 0;
  font-size: 70%;
}

.links {
  width: 20px;
}

.project-technologies {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.project-sources a {
  height: 20px;
}

.project-sources {
  padding-right: 5px;
  flex-basis: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/* Main Contact */

.contact {
  padding-bottom: 3.5em;
  min-height: 90vh;
  height: auto;
  overflow: auto;
}

.me-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.3em;
}

.me {
  height: 5em;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text], input[type=email], textarea {
  font-family: 'Roboto', arial;
  width: 50%;
  padding: .5em;
  border: 1px solid #d6d6d6;
  resize: vertical;
  margin-bottom: .5em;
  border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -ms-border-radius: .2em;
  -o-border-radius: .2em;
}

textarea {
  height: 150px;
}

input[type=submit] {
  margin-top: 1em;
  font-family: 'Roboto', arial;
  font-size: 100%;
  letter-spacing: .2em;
  padding: 10px 0 10px 0; 
  width: 50%;
  border: 1px solid #d6d6d6;
  background-color: #d6d6d6;
  border-radius: .2em;
}

/* Footer */

footer {
  padding: 1em;
  background-color: #f4f6f6;
}

.contact-logos {
  display: flex;
  justify-content: space-around;
  padding-top: 4px;
}

.social-media-logos {
  width: 2em;
  /* to change the color of the logos change the fill attribute on the svg */
}

/* Media Queries */

@media screen and (max-width: 360px) {
  .logo {
    font-size: 20px;
  }

  .tech-names {
    padding-left: 5%;
  }

  .tech-cards {
    padding-left: 2%;
  }

  .tech-logo {
    margin-right: 8px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    font-size: 17px;
  }

  .tech-names {
    padding-left: 2.5%;
  }

  .tech-cards {
    padding-left: 0;
  }

  .tech-logo {
    margin-right: 5px;
  }
}



