* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* background-color: aliceblue; */
}

.logo {
  font-family: "Caveat", cursive;
  font-size: 35px;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", arial;
  font-size: 17px;
  letter-spacing: 3px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1270px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    font-size: 25px;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; change this if I want the width to be smaller on the column nav bar*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Main */

h2 {
  font-family: 'Roboto', arial;
  font-size: 125%;
  font-weight: 300;
  text-align: center;
  letter-spacing: .2em;
  padding: 2em 0 2em 0;
}

/* Main-Intro */

.intro-text { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  background-color: #f4f6f6;
}

.intro-text p {
  padding: 5em 3em 3em 3em;
  text-align: center;
  font-family: 'Roboto', arial;
  letter-spacing: .2em;
  line-height: 1.7  ;
}

.intro-text img {
  padding-top: 2em;
  width: 39%;
  /* to change color of svg, change the fill attribute on the svg, currently set to #c9e8ef */
}

/* Main-Technology */

.section-technology {
  padding-bottom: 3.5em;
  background-color: #fff;
  min-height: 100vh;
}

.technology {
  display: flex;
  font-family: 'Roboto', arial;
  font-weight: 300;
  color: #929292;
}

.tech-names {
  display: flex;
  flex-direction: column;
  padding-left: 1.4em;
}

h4 {
  display: flex;
  align-items: center;
  width: 4.6em;
  height: 25%;
}

.tech-cards {
  padding-left: 1.6em;
}

.tech-stack {
  display: flex;
  align-items: center;
  height: 25%;
}

.tech-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 8px;
  margin-top: 2em;
  margin-bottom: 2em;
  
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-left: 1px solid #d6d6d6;
  border-radius: 3px;

  width: 54px;
  height: 54px;
}

.tech-logo img {
  width: 23px;
  height: auto;
  object-fit: cover;
  padding-bottom: 10px;
}

#express {
  width: 40px;
}

#rails {
  width: 40px;
}

.tech-logo p {
  position: absolute;
  bottom: 0px;
  color: #000;
  background-color: #dadada;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 54px;
  padding: 2px 0px 2px 0px;
  font-weight: 200;
  font-size: 23%;
  text-align: center;
}

/* Main-Projects */

.section-projects {
  background-color: #f4f6f6;
  min-height: 100vh;
}



